body {
    font-family: arial;
  }
  .hide {
    display: none;
  }
    #widthheight
    {
        width:60%;
        margin-left: 10%;
        margin-top: 5%;
    }
    a{
        color:white;
    }
    #id
    {
        height:100px;
    }