<!-- <div class="cointainer">
    <div class="col-sm-6">
    <div class="row">

        <div class="col-sm-7">

            <h4><b>Recent events</b></h4>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-2"><button type=button id="uce1" (click)="redirect()"></button><br><h6>event</h6></div></div>

       <!-- <div class="col-sm-2"><button type=button id="uce1"></button><br><h6>event</h6></div>
    </div>
    <div class="row">

        <div class="col-sm-7">

            <h4><b>Upcoming events</b></h4>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-2"><button type=button id="uce1"></button><br><h6>event</h6></div>

       <!-- <div class="col-sm-2 "><button type=button id="uce1"></button><br><h6>event</h6></div>
    </div>
    
</div>
<div class="col-sm-5">

<div id="score"><span class="glyphicon glyphicon-flash"> <h3>points so far...</h3></span>
   
     <div class="row">
       
<div class="col-sm-2"><span><h3>Total</h3></span></div>
<div class="col-sm-1"></div>
<div class="col-sm-2"><span><h3>This month</h3></span></div>
</div>  
<div class="row">
    <div class="col-sm-2">129</div>
    <div class="col-sm-1"></div>
    <div class="col-sm-2">487</div>  
</div>
</div >
</div>-->

        <div class="col-sm-7">
            <h2><b>Recent events</b></h2>
            <div class="row">
                <div><button type=button id="uce1" ></button><br>
                    <h6>event</h6>
                </div>
            </div>
            <h2><b>Upcoming events</b></h2>
            <div class="row">
                <div><button type=button id="uce1" (click)="redirect()"></button><br>
                    <h6>event</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div id="score">
                <div id=a>
                    <div class="glyphicon glyphicon-flash"></div>
                    <div>
                        <h3>points so far...
                        </h3>
                            </div>
                </div>

                <div class="row row1">

                    <div class="col-sm-2"><span><h3>Total</h3></span></div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2"><span><h3>This month</h3></span></div>
                </div>
                <div class="row row2">
                    <div class="col-sm-2">129</div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">487</div>
                </div>
            </div>
        </div>
    