

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 18%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
}
.carousel-cell { width: 20%; }

@media ( min-width: 320px ) {
  .carousel-cell { width: 45%; }
}
@media ( min-width: 768px ) {
  .carousel-cell { width: 25%; }
}

@media ( min-width: 1024px ) {
  .carousel-cell { width: 23%; }
}

@media ( min-width: 1200px ) {
  .carousel-cell { width: 18%; }
}
.carousel-cell.is-selected {
  background: #ED2;
}

.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

