<div class="header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand" href="#">Islot</span>
          </div>
          <div class="dropdown">
            <a type="button"  class="btn btn-primary " data-toggle="dropdown">
                <i class="fas fa-ellipsis-v"></i>
            </a>
            <div class="dropdown-menu">
              <ul>
              <li><a class="dropdown-item" href="#" (click)="changepass()">Change password</a></li>
              <li><a class="dropdown-item" href="#" (click)="update()">Updatedetails</a></li>
              <li><a class="dropdown-item" href="#"(click)="log()">Log Out</a></li>
              </ul>
            </div>
          </div>
            
      </div>
    </nav>
  </div>


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  

