
<!-- <app-eventtile></app-eventtile> -->
<div id="events">
    <div class="header">
    </div>
    <div id="recentevent" >
    <div>
    <h3>Recent Events</h3>
    <div class="col-md-3" id="recentid">
    <span *ngFor="let event of recentevents;let i=index"  (click)="details(event,event.key)">
        <div *ngIf="i<5">
    <div class="square-service-block" id="changeheight" >
        <a>
          <!-- <h4 class="ssb-title" id=recenttitleid>{{event.name}}</h4>  
          <h4 class="ssb-title" id=recenttitleid>{{event.startTime}}</h4>   -->
          <app-eventtile [eventInfo]="event"></app-eventtile>
          <!-- <app-eventtile *ngFor="let dayInfo of EventService.dayTileList" [dayTileInfo]="dayInfo"></app-eventtile> -->
        </a>
     </div>
    </div>
    </span>
    </div>
    </div>
    <div class="imgcreation">
    <a href="/admin/eventcreation">
    <img src="assets\images\creationbutton.jpg" alt="HTML tutorial" style="width:60px;height:58px;border:0;">
    </a>
    </div>
    </div>
<br>
<br>
<br>
 <div id="upcommingevent">
    <h3>Upcomming Events</h3>
        <div class="col-md-3" id=upcommingid>
    <span *ngFor="let event of upcomingevents"  (click)="details(event,event.key)">
            <div class="square-service-block" >
                <a>
                  <!-- <h4 class="ssb-title" id=upcommingtitleid>{{event.name}}</h4>  
                  <h4 class="ssb-title" id=upcommingtitleid>{{event.starttime}}</h4>   -->
                  <app-eventtile [eventInfo]="event"></app-eventtile>
                </a>
             </div>
    </span> 
            </div>
        </div>
</div>


<!-- <div class="row" id="fore1">
    <app-day-tile *ngFor="let dayInfo of weatherService.dayTileList" [dayTileInfo]="dayInfo"></app-day-tile>
  </div> -->

  <!-- <nav class="navbar navbar-light bg-light">
        <div class="header">
            <a routerLink="" class="home">iSlot</a>
            <span class="componame">Admin Dashboard</span>
            <span class="glyphicon glyphicon-option-vertical icon"></span>
        </div>
    </nav>
    
    <div>
        <br>
        <div>
            <h5>
                <b> Recent Events</b>
            </h5>
            <a routerLink='/admin/eventregister' class='glyphicon glyphicon-plus-sign' id='addicon'></a>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <span *ngFor="let event of recentevents"  (click)="details(event)">
                    <div class="col col-lg-3 tiles" [style.color]="event.isClosed=='true' ? 'red' : 'black'">
                    <h4>{{event.eventName}}</h4>
                        </div>
                    </span>
            </div>
        </div>
    
    
        <div>
            <h5>
                <b> upcoming events</b>
            </h5>
    
        </div>
        <div class="container">
            <div class="row">
                <span *ngFor="let event of upcomingevents">
                    <div class="col col-lg-3 tiles">
                        <h4>{{event.eventName}}</h4>
                    </div>
                </span>
            </div>
        </div>
    
    </div> -->