<mat-tab-group>
  <mat-tab label="VIEW">
    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 ">
<div class="border" *ngFor="let slot of slotData">
          <div class="row" >
            <div class="col-sm-4"><b>{{slot.slotStarTime}} - {{slot.slotEndTime}}</b></div>
            <div class="col-sm-4">
              <div >
              <div class="row" *ngFor="let Obj of slot.interviewers ">

                <app-interviewer-contact [contactInfo]="Obj"></app-interviewer-contact>
              </div>
              
              </div>
              
            </div>
            <div class="col-sm-4">
              <div >
               {{slot.interviewers?.length}}
              </div>
            </div>
          </div>
        </div>

      

        </div>
        <div class="col-lg-3"></div>
      </div>
    </div>

  </mat-tab>



  <mat-tab label="UPDATE">
    <div class="container-fluid">
      <div class="col-lg-3"></div>
      <div class="col-lg-6" >
        <div class="border" *ngFor="let slot of slotData" >
          <div class="row">{{slot.slotStarTime}} - {{slot.slotEndTime}}</div>
          <div class="row "*ngFor="let interview of slot.interviewers">
            <div class="col-sm-4">{{interview.name}}</div>
            <div class="col-sm-4"><input type="text"  class="form-control" #count value={{interview.noOfInterviews}}></div>
            <div class="col-sm-4"><button type="button" class="btn btn-primary"(click)="updateCount(slot.key,interview,count.value)">approve</button></div>

          </div>
        </div>
        

            <div class="row"> <button type="button" class="btn btn-primary">close event</button></div>
          </div>


      




      <div class="col-lg-3"></div>
    </div>


   
  </mat-tab>
</mat-tab-group>
